<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="Robots" content="index, follow, all" /> 
	<meta name="revisit-after" content="" />
	<meta name="Author" content="" /> 
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/rwd.css" type="text/css" media="all" />

	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/behave.js" type="text/javascript"></script>
</head>
<body>

<div id="outer">

    <div id="bookingTopWrapper">
        <div id="bookingTop">
            <div class="tab back">
                <a class="back" href=""></a>
            </div>
            <div class="tab logo">
                <img src="img/blue-panorama.png" alt="">            
            </div>
            <div class="tab routesInfo">
                Rome to Santiago de Cuba
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab routesInfo">
                Santiago de Cuba to Rome
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab user">
                <i>Enrico <br/>Forresti</i>
            </div>
            <div class="tab cart">
                <div class="total">€1294<sup>89</sup></div>
                <div class="guests">3&nbsp;Guests</div>
            </div>
            <div class="tab toggle">
                <a class="toggle" href=""></a>
            </div>
        </div>
    </div>

    <div id="main">

        <div class="bookingHeader">
            <div class="buttons"><a href="">New search</a></div>
            <h1>Who's flying?</h1>
        </div>

        <form method="post" action="">
            <div class="passagersWrap">
                <div class="passangersData many">
                    <div class="passanger main">
                        <div class="passangerHeader">
                            <h2>Passenger 1</h2>
                        </div>

                        <div class="row">
                            <div class="input"><input id="" type="text" name="" placeholder="First name"></div>
                        </div>
                        <div class="row">
                            <div class="input"><input id="" type="text" name="" placeholder="Last name"></div>
                        </div>
                        <div class="row">
                            <div class="born">
                                <label for="">Born on</label>
                                <div class="selects">
                                    <div class="select month">
                                        <select id="" name="">
                                            <option value="">Month</option>
                                            <option value="">January</option>
                                        </select>
                                        <div class="option"></div>
                                    </div>
                                    <div class="select day">
                                        <select id="" name="">
                                            <option value="">Day</option>
                                            <option value="">1</option>
                                        </select>
                                        <div class="option"></div>
                                    </div>
                                    <div class="select year">
                                        <select id="" name="">
                                            <option value="">Year</option>
                                            <option value="">1990</option>
                                        </select>
                                        <div class="option"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row">
                            <input id="" type="text" name="" placeholder="Phone number">
                        </div>
                        <div class="row">
                            <div class="remember">
                                <div class="select gender">
                                    <select id="" name="">
                                        <option value="">Gender</option>
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>
                                    <div class="option"></div>
                                </div>
                                <label><span class="inputWrap"><input id="" type="checkbox" name=""><i></i></span> Save and create account?</label>
                            </div>
                        </div>
                    </div>

                    <div class="rest">
                        <div class="passanger">
                            <div class="passangerHeader">
                                <h2>Passenger 2 (Child 2-14)</h2>
                            </div>

                            <div class="row">
                                <input id="" type="text" name="" placeholder="First name">     
                            </div>
                            <div class="row">
                                <input id="" type="text" name="" placeholder="Last name">
                            </div>
                            <div class="row">
                                <div class="born">
                                    <label for="">Born on</label>
                                    <div class="selects">
                                        <div class="select month">
                                            <select id="" name="">
                                                <option value="">Month</option>
                                                <option value="">January</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select day">
                                            <select id="" name="">
                                                <option value="">Day</option>
                                                <option value="">1</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select year">
                                            <select id="" name="">
                                                <option value="">Year</option>
                                                <option value="">1990</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="passanger locked">
                            <div class="passangerHeader">
                                <h2>Passenger 3 (Child 2-14)</h2>
                            </div>

                            <div class="row">
                                <input disabled id="" type="text" name="" placeholder="First name">     
                            </div>
                            <div class="row">
                                <input disabled id="" type="text" name="" placeholder="Last name">
                            </div>
                            <div class="row">
                                <div class="born">
                                    <label for="">Born on</label>
                                    <div class="selects">
                                        <div class="select month">
                                            <select disabled id="" name="">
                                                <option value="">Month</option>
                                                <option value="">January</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select day">
                                            <select disabled id="" name="">
                                                <option value="">Day</option>
                                                <option value="">1</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select year">
                                            <select disabled id="" name="">
                                                <option value="">Year</option>
                                                <option value="">1990</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="passanger locked">
                            <div class="passangerHeader">
                                <h2>Passenger 4 (Child 2-14)</h2>
                            </div>

                            <div class="row">
                                <input disabled id="" type="text" name="" placeholder="First name">     
                            </div>
                            <div class="row">
                                <input disabled id="" type="text" name="" placeholder="Last name">
                            </div>
                            <div class="row">
                                <div class="born">
                                    <label for="">Born on</label>
                                    <div class="selects">
                                        <div class="select month">
                                            <select disabled id="" name="">
                                                <option value="">Month</option>
                                                <option value="">January</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select day">
                                            <select disabled id="" name="">
                                                <option value="">Day</option>
                                                <option value="">1</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select year">
                                            <select disabled id="" name="">
                                                <option value="">Year</option>
                                                <option value="">1990</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="passanger locked">
                            <div class="passangerHeader">
                                <h2>Passenger 5 (Child 2-14)</h2>
                            </div>

                            <div class="row">
                                <input disabled id="" type="text" name="" placeholder="First name">     
                            </div>
                            <div class="row">
                                <input disabled id="" type="text" name="" placeholder="Last name">
                            </div>
                            <div class="row">
                                <div class="born">
                                    <label for="">Born on</label>
                                    <div class="selects">
                                        <div class="select month">
                                            <select disabled id="" name="">
                                                <option value="">Month</option>
                                                <option value="">January</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select day">
                                            <select disabled id="" name="">
                                                <option value="">Day</option>
                                                <option value="">1</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select year">
                                            <select disabled id="" name="">
                                                <option value="">Year</option>
                                                <option value="">1990</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="passanger locked">
                            <div class="passangerHeader">
                                <h2>Passenger 6 (Child 2-14)</h2>
                            </div>

                            <div class="row">
                                <input disabled id="" type="text" name="" placeholder="First name">     
                            </div>
                            <div class="row">
                                <input disabled id="" type="text" name="" placeholder="Last name">
                            </div>
                            <div class="row">
                                <div class="born">
                                    <label for="">Born on</label>
                                    <div class="selects">
                                        <div class="select month">
                                            <select disabled id="" name="">
                                                <option value="">Month</option>
                                                <option value="">January</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select day">
                                            <select disabled id="" name="">
                                                <option value="">Day</option>
                                                <option value="">1</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                        <div class="select year">
                                            <select disabled id="" name="">
                                                <option value="">Year</option>
                                                <option value="">1990</option>
                                            </select>
                                            <div class="option"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>

</div>


</body>
</html>
