<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="Robots" content="index, follow, all" /> 
	<meta name="revisit-after" content="" />
	<meta name="Author" content="" /> 
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/rwd.css" type="text/css" media="all" />

	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/behave.js" type="text/javascript"></script>
</head>
<body>

<div id="outer">
    <div id="top">
        <div id="banner">
            <div class="logo"><img src="img/blue-panorama.png" alt="Blue panorama airlines"></div>

            <div class="whereWeFly">
                <div class="box">
                    <h1>Where would you like to fly?</h1>

                    <form method="post" action="">
                        <a class="selectDirection to white" href="">
                            <i>To</i><span>Select your destination</span>
                        </a>
                        <a class="selectDirection from" href="">
                            <i>From</i><span></span>
                        </a>
                        <div class="tripType">
                            <label for="">
                                <i class="rcWrap"><input id="" type="radio" name="test"></i>
                                Round trip
                            </label>
                            <label for="">
                                <i class="rcWrap"><input id="" type="radio" name="test"></i>
                                One way
                            </label>
                            <label for="">
                                <i class="rcWrap"><input id="" type="radio" name="test"></i>
                                Multicity
                            </label>
                        </div>

                        <div class="submit">
                            <button class="fill" type="submit">Search</button>
                        </div>

                        <div class="peopleCounter">
                            <a class="total" href="">1 Adult</a>
                        </div>

                    </form>

                    <div class="assistance">
                        <a href="">
                            <i class="icon wheelchair"></i> Special assistance
                        </a>
                    </div>
                </div>

                <a class="vacationPackage" href="">Looking do vacation package?</a>
            </div>

            <div class="slider">
                <ul class="slides">
                    <li class="active">
                        <div class="description">
                            <h2>Feel the magic of Rome</h2>
                            <p>direct flights from €49</p>
                        </div>
                        <img src="img/homeslider.jpg" alt="">
                    </li>
                    <li>
                        <div class="description">
                            <h2>Feel the magic of Rome</h2>
                            <p>direct flights from €49</p>
                        </div>
                        <img src="img/homeslider.jpg" alt="">
                    </li>
                    <li>
                        <div class="description">
                            <h2>Feel the magic of Rome</h2>
                            <p>direct flights from €49</p>
                        </div>
                        <img src="img/homeslider.jpg" alt="">
                    </li>
                </ul>

                <ul class="sliderMenu">
                    <li class="active"><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>

        <div class="bannerOverlay">
            <div class="whereWeFly">
                <div class="box locked">
                    <h1>Where would you like to fly?</h1>

                    <form method="post" action="">
                        <a class="selectDirection to" href="">
                            <i>To</i><span>Select your destination</span>
                        </a>

                        <ul class="placeList">
                            <li class="active"><a href="">Italy</a></li>
                            <li><a href="">Albania</a></li>
                            <li><a href="">Greece</a></li>
                            <li><a href="">Cuba</a></li>
                            <li><a href="">Jamaica</a></li>
                        </ul>
                    </form>
                </div>
                <div class="box borderless">
                    <h1>Now, select city:</h1>

                    <div class="placeListCols">
                        <ul class="placeList">
                            <li><a href="">Rome (Fumicino)</a></li>
                            <li><a href="">Ancona</a></li>
                            <li><a href="">Bologna</a></li>
                            <li><a href="">Genova</a></li>
                            <li><a href="">Lampedusa</a></li>
                            <li><a href="">Milan</a></li>
                            <li><a href="">Pantelleria</a></li>
                            <li><a href="">Perugia</a></li>
                            <li><a href="">Pisa</a></li>
                        </ul>
                        <ul class="placeList">
                            <li><a href="">Reggio Calabria</a></li>
                            <li><a href="">Venice</a></li>
                            <li><a href="">Verona</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="longerStay">
                <a href="">
                    <img src="img/longerStay.jpg" alt="">
                    Longer stay?
                    <span>book vacation from €499/7days</span>
                </a>
            </div>
        </div>

        <a class="toggleMenu" href=""><i></i></a>
        <div id="menu">
            <div class="menuItems">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Book a flight</a></li>
                    <li><a href="">Manage booking</a></li>
                    <li><a href="">Flight status</a></li>
                    <li><a href="">Book vacations</a></li>
                </ul>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Help and contact</a></li>            
                </ul>
            </div>
            <div class="travelingWithUs">
                <h2>Traveling with us</h2>
                <ul>
                    <li data-section="baggage">
                        <h3>Baggage</h3>
                        <p>How much baggage you can bring, protecting your baggage  for travel and what not to pack.</p>
                    </li>
                    <li data-section="check-in">
                        <h3>Check-in and boarding</h3>
                        <p>How much baggage you can bring, protecting your baggage  for travel and what not to pack.</p>
                    </li>
                    <li data-section="special">
                        <h3>Special needs</h3>
                        <p>How much baggage you can bring, protecting your baggage  for travel and what not to pack.</p>
                    </li>
                </ul>
            </div>
        </div>

        <div id="subnav">
            <ul>
                <li class="lang"><a href=""><i class="flag gb"></i></a></li>
                <li><a href=""><b>Manage Booking</b></a></li>
                <li><a href=""><b>Flight status</b></a></li>
                <li><a href="">Corporate</a></li>
                <li><a href="">Agency</a></li>
                <li class="search"><a href=""></a></li>
            </ul>
        </div>

        <div class="homeTabs">
            <ul>
                <li><a href=""><i class="icon flight"></i> Where we fly?</a></li>
                <li><a href=""><i class="icon case"></i> Travel information</a></li>
                <li><a href=""><i class="icon hotel"></i> Hotels</a></li>
                <li><a href=""><i class="icon car"></i> Car rental</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="homeQuote">
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet pretium venenatis.</blockquote>
            <div class="cite">Michael Kowalski, visited Jamaica</div>
        </div>

        <div class="slider vacationSlider">
            <div class="vacationHeader">
                <h2>Vacation packages</h2>
                <a href="">see all »</a>
            </div>
            <ul class="slides">
                <li class="active">
                    <div class="description">
                        <h3>Cuba</h3>
                        <div class="price">starting at €660</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae elementum lectus, ac tincidunt enim. Quisque pharetra vitae felis non interdum. </p>
                    </div>
                    <img src="img/homeslider.jpg" alt="">
                </li>
                <li>
                    <div class="description">
                        <h3>Cuba</h3>
                        <div class="price">starting at €660</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae elementum lectus, ac tincidunt enim. Quisque pharetra vitae felis non interdum. </p>
                    </div>
                    <img src="img/homeslider.jpg" alt="">
                </li>
                <li>
                    <div class="description">
                        <h3>Cuba</h3>
                        <div class="price">starting at €660</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae elementum lectus, ac tincidunt enim. Quisque pharetra vitae felis non interdum. </p>
                    </div>
                    <img src="img/homeslider.jpg" alt="">
                </li>
            </ul>

            <ul class="sliderMenu">
                <li class="active"><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="homeTabs">
            <ul>                
                <li><a href="">Dance in Cuba</a></li>
                <li><a href="">Italian trip</a></li>
                <li><a href="">Jamaica uncovered</a></li>
                <li><a href="">Weekend in Rome</a></li>
            </ul>
        </div>

        <div class="homeSection">
            <div class="moveVacations">
                <h2>More vacations <a href="">see all »</a></h2>
                

                <ul class="featuredVacations">
                    <li>
                        <a href="">
                            <div class="photo">
                                <div class="title">
                                    <h3>Havana</h3>
                                    <div class="price">starting at €499</div>
                                </div>
                                <img src="img/featuredVacation.jpg" alt="">
                            </div>
                        </a>
                        <div class="travelStats"><b>39873</b> people travelled to Havana with us!</div>
                    </li>
                    <li>
                        <a href="">
                            <div class="photo">
                                <div class="title">
                                    <h3>Jamaica</h3>
                                    <div class="price">starting at €499</div>
                                </div>
                                <img src="img/featuredVacation.jpg" alt="">
                            </div>
                        </a>
                        <div class="travelStats"><b>39873</b> people travelled to Havana with us!</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="homeSection">
            <div class="destinationCols">
                <div class="col">
                    <h2>Recommended</h2>
                    <ul>
                        <li>
                            <div class="name">Rome</div>
                            <div class="misc"><b>€78<sup>89</sup></b></div>
                        </li>
                        <li>
                            <div class="name">Havana</div>
                            <div class="misc"><b>€78<sup>89</sup></b></div>
                        </li>
                        <li>
                            <div class="name">Jamaica</div>
                            <div class="misc"><b>€78<sup>89</sup></b></div>
                        </li>
                        <li>
                            <div class="name">Cayo Coco</div>
                            <div class="misc"><b>€78<sup>89</sup></b></div>
                        </li>
                        <li>
                            <div class="name">Venice</div>
                            <div class="misc"><b>€78<sup>89</sup></b></div>
                        </li>
                        <li>
                            <div class="name">Montego Bay</div>
                            <div class="misc"><b>€78<sup>89</sup></b></div>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Just booked</h2>
                    <ul>
                        <li>
                            <div class="name"><a href="">Rome</a></div>
                            <div class="misc">Flight</div>
                        </li>
                        <li>
                            <div class="name"><a href="">Havana</a></div>
                            <div class="misc">Flight</div>
                        </li>
                        <li>
                            <div class="name"><a href="">Jamaica</a></div>
                            <div class="misc">Vacations</div>
                        </li>
                        <li>
                            <div class="name"><a href="">Cayo Coco</a></div>
                            <div class="misc">Vacations</div>
                        </li>
                        <li>
                            <div class="name"><a href="">Venice</a></div>
                            <div class="misc">Flight</div>
                        </li>
                        <li>
                            <div class="name"><a href="">Montego Bay</a></div>
                            <div class="misc">Vacations</div>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Timetables <a href="">see all »</a></h2>
                    <ul>
                        <li>
                            <div class="name">Rome</div>
                            <div class="misc">MA1247 13:30</div>
                        </li>
                        <li>
                            <div class="name">Rome</div>
                            <div class="misc"><i class="status" data-status="delayed">Delayed</i> MA1247 13:30</div>
                        </li>
                        <li>
                            <div class="name">Rome</div>
                            <div class="misc"><i class="status" data-status="canceled">Canceled</i> FL4387 10:00</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="subscribe">
            <p>Get up to 50% off your next trip <span>Secret Deals only for our subscribers</span></p>
            <form method="post" action="">
                <input id="" type="text" name="" placeholder="Enter your e-mail">
                <button type="submit">Subscribe</button>
            </form>
        </div>

        <div class="homeSection">
            <div class="recentlySearched">
                <h2>Recently searched</h2>

                <div class="wrap">
                    <ul class="active">
                        <li>
                            <a href="">
                            <div class="photo">
                                <img src="img/recentlySearched.jpg" alt="">
                            </div>
                            <div class="details">
                                <h3> Copa Cabana Lorem ipsum dolor sit </h3>
                                starting at €219<sup>99</sup>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <div class="photo">
                                <img src="img/recentlySearched.jpg" alt="">
                            </div>
                            <div class="details">
                                <h3> Copa Cabana </h3>
                                starting at €219<sup>99</sup>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <div class="photo">
                                <img src="img/recentlySearched.jpg" alt="">
                            </div>
                            <div class="details">
                                <h3> Copa Cabana </h3>
                                starting at €219<sup>99</sup>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <div class="photo">
                                <img src="img/recentlySearched.jpg" alt="">
                            </div>
                            <div class="details">
                                <h3> Copa Cabana </h3>
                                starting at €219<sup>99</sup>
                            </div>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">
                            <div class="photo">
                                <img src="img/recentlySearched.jpg" alt="">
                            </div>
                            <div class="details">
                                <h3> Copa Cabana</h3>
                                starting at €249<sup>99</sup>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <div class="photo">
                                <img src="img/recentlySearched.jpg" alt="">
                            </div>
                            <div class="details">
                                <h3> Copa Cabana </h3>
                                starting at €219<sup>22</sup>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <div class="photo">
                                <img src="img/recentlySearched.jpg" alt="">
                            </div>
                            <div class="details">
                                <h3>Jamaica</h3>
                                starting at €219<sup>99</sup>
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="">
                            <div class="photo">
                                <img src="img/recentlySearched.jpg" alt="">
                            </div>
                            <div class="details">
                                <h3> Copa Cabana </h3>
                                starting at €219<sup>99</sup>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="footerWrapper">
        <div id="footer">
            <div class="menu">
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">The fleet</a></li>
                    <li><a href="">Site map</a></li>
                </ul>
                <ul>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Fleet</a></li>
                    <li><a href="">Site map</a></li>
                </ul>
                <ul class="wide">
                    <li><a href="">Mondoinblue</a></li>
                    <li><a href="">Safety rules</a></li>
                    <li><a href="">Fast Track Pass </a></li>
                    <li><a href="">Terms and conditions</a></li>
                    <li><a href="">Fly informed - Passengers rights</a></li>            
                </ul>
            </div>
            <div class="copy">
                <img src="img/blue-panorama-black.png" alt="Blue Panorama Airlines">

                <div class="social">
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                    <a class="linkedin" href=""></a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
