<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="Robots" content="index, follow, all" /> 
	<meta name="revisit-after" content="" />
	<meta name="Author" content="" /> 
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/rwd.css" type="text/css" media="all" />

	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/behave.js" type="text/javascript"></script>
</head>
<body>

<div id="outer">

    <div id="bookingTopWrapper">
        <div id="bookingTop">
            <div class="tab back">
                <a class="back" href=""></a>
            </div>
            <div class="tab logo">
                <img src="img/blue-panorama.png" alt="">            
            </div>
            <div class="tab routesInfo active">
                Rome to Santiago de Cuba
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab routesInfo">
                Santiago de Cuba to Rome
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab user">
                <i>Enrico <br/>Forresti</i>
            </div>
            <div class="tab cart">
                <div class="total">€1294<sup>89</sup></div>
                <div class="guests">3&nbsp;Guests</div>
            </div>
            <div class="tab toggle">
                <a class="toggle" href=""></a>
            </div>
        </div>
    </div>

    <div id="main">
        <form class="reservation" method="post" action="">
            <fieldset class="grey">
                <div class="refrenceId">
                    <h1>Reservation number</h1>
                    V4387Z
                </div>
            </fieldset>
            <div class="bookingHeader">
                <h2>Departing flight</h2>
            </div>
            <fieldset class="grey">
                <div class="yourFlight narrow">
                    <div class="flightNumber">
                        <h2>FLIGHT BV1570 <br/>Boeing 737</h2>
                        <div class="date">23 Dec</div>
                    </div>
                    <div class="details">
                        <div class="class">
                            Class: Economy
                        </div>
                        <div class="fromTo">
                            <div class="col">
                                <div class="time">11:15</div>
                                <h3>Rome (Fumicino), FCO</h3>
                                <div class="flightTime">5:50h</div>
                            </div>
                            <div class="hr"></div>
                            <div class="col">
                                <div class="time">16:35</div>
                                <h3>Santiago de Cuba, JTR</h3>
                            </div>
                        </div>          
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <h2>Check-in completed!</h2>

                <div class="formCols">
                    <div class="col">
                        <div class="serviceToggle checkin completed">
                            <div class="wrapper">
                                <div class="left">
                                    Enrico Forresti <br/> <a href="">Boardin pass</a>
                                </div>
                                <div class="options">
                                    <span class="status"><i class="icon checked"></i> Checked-in</span>
                                </div>
                            </div>
                        </div>
                        <div class="serviceToggle checkin completed">
                            <div class="wrapper">
                                <div class="left">
                                    Enrico Forresti <br/> <a href="">Boardin pass</a>
                                </div>
                                <div class="options">
                                    <span class="status"><i class="icon checked"></i> Checked-in</span>
                                </div>
                            </div>
                        </div>
                        <div class="serviceToggle checkin completed">
                            <div class="wrapper">
                                <div class="left">
                                    Enricoloremipsum Forresti <br/> <a href="">Boardin pass</a>
                                </div>
                                <div class="options">
                                    <span class="status"><i class="icon checked"></i> Checked-in</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="serviceToggle checkin completed">
                            <div class="wrapper">
                                <div class="left">
                                    Enrico Forresti <br/> <a href="">Boardin pass</a>
                                </div>
                                <div class="options">
                                    <span class="status"><i class="icon checked"></i> Checked-in</span>
                                </div>
                            </div>
                        </div>
                        <div class="serviceToggle checkin completed">
                            <div class="wrapper">
                                <div class="left">
                                    Enricoloremipsum Forresti <br/> <a href="">Boardin pass</a>
                                </div>
                                <div class="options">
                                    <span class="status"><i class="icon checked"></i> Checked-in</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="grey">
                <div class="agreement">
                    <label><span class="inputWrap"><input id="" type="checkbox" name=""><i></i></span> I accept Section 14 of the a <a href="">Terms and Conditions</a>, that forbids the carriage of dangerous items in the baggage.</label>
                </div>            
            </fieldset>
            <fieldset class="pay">
                <div class="buttonWrap">
                    <button type="submit">Proceed</button>
                </div>
            </fieldset>
        </form>
    </div>

</div>


</body>
</html>
