<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="Robots" content="index, follow, all" /> 
	<meta name="revisit-after" content="" />
	<meta name="Author" content="" /> 
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/rwd.css" type="text/css" media="all" />

	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/behave.js" type="text/javascript"></script>
</head>
<body>

<div id="outer">

    <div id="bookingTopWrapper">
        <div id="bookingTop">
            <div class="tab back">
                <a class="back" href=""></a>
            </div>
            <div class="tab logo">
                <img src="img/blue-panorama.png" alt="">            
            </div>
            <div class="tab routesInfo active">
                Rome to Santiago de Cuba
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab routesInfo">
                Santiago de Cuba to Rome
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab user">
                <i>Enrico <br/>Forresti</i>
            </div>
            <div class="tab cart">
                <div class="total">€1294<sup>89</sup></div>
                <div class="guests">3&nbsp;Guests</div>
            </div>
            <div class="tab toggle">
                <a class="toggle" href=""></a>
            </div>
        </div>
    </div>

    <div id="main">
        <form method="post" action="">
            <div class="services">
                <div class="header">
                    <h1>Select services</h1>
                </div>

                <div class="service" data-type="baggages">
                    <div class="serviceHeader">
                        <a class="cover" href=""></a>
                        <h2>Baggages</h2>
                        <div class="right">
                            <div class="price">€35<sup>00</sup></div>
                            <span class="toggle"></span>
                        </div>
                    </div>
                    <div class="details">
                        <div class="formCols">
                            <div class="col">
                                <div class="numberInput">
                                    <div class="wrapper">
                                        <div class="left" data-type="baggage">Enrico Forresti</div>                 
                                        <div class="total">
                                            <span>0</span> <input type="hidden" name="" value="2">
                                        </div>
                                        <div class="controls">
                                            <a class="up" href=""></a>
                                            <a class="down" href=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="numberInput">
                                    <div class="wrapper">
                                        <div class="left" data-type="baggage">Angello Luciano Casteglioni</div>                 
                                        <div class="total">
                                            <span>0</span> <input type="hidden" name="" value="1">
                                        </div>
                                        <div class="controls">
                                            <a class="up" href=""></a>
                                            <a class="down" href=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="numberInput">
                                    <div class="wrapper">
                                        <div class="left" data-type="baggage">Angello Luciano Casteglioni</div>                 
                                        <div class="total">
                                            <span>0</span> <input type="hidden" name="" value="1">
                                        </div>
                                        <div class="controls">
                                            <a class="up" href=""></a>
                                            <a class="down" href=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="numberInput">
                                    <div class="wrapper">
                                        <div class="left" data-type="baggage">Angello Luciano Casteglioni</div>                 
                                        <div class="total">
                                            <span>0</span> <input type="hidden" name="" value="1">
                                        </div>
                                        <div class="controls">
                                            <a class="up" href=""></a>
                                            <a class="down" href=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="numberInput">
                                    <div class="wrapper">
                                        <div class="left" data-type="baggage">Angello Luciano Casteglioni</div>                 
                                        <div class="total">
                                            <span>0</span> <input type="hidden" name="" value="1">
                                        </div>
                                        <div class="controls">
                                            <a class="up" href=""></a>
                                            <a class="down" href=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="info">Checked bag dimensions: 25x50x75cm, Weight: 20kg. <a href="">See baggage info »</a><br/> Special baggage needed? Call us at <b>+39 06 98956666</b></div>

                        <div class="message serviceMessage">
                            <div class="buttons">
                                <span class="label">Same for returning flight?</span>
                                <a href="">Yes</a>
                                <a class="grey" href="">No, let me select</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service" data-type="fast-track">
                    <div class="serviceHeader">
                        <a class="cover" href=""></a>
                        <h2>Fast track</h2>
                        <div class="right">
                            <div class="price">€35<sup>00</sup></div>
                            <span class="toggle"></span>
                        </div>
                    </div>
                    <div class="details">
                        <p>Your Fast Track through airport security check points!</p>
                        <div class="row">
                            <label><span class="inputWrap"><input id="" type="checkbox" name=""><i></i></span> All passengers (x5)</label>
                        </div>
                        <div class="row">
                            <div class="serviceToggle">
                                <div class="wrapper">
                                    <div class="left" data-type="fast-track">
                                        Fast track
                                    </div>
                                    <div class="options">
                                        <a href="">Add</a>
                                        <label class="status">
                                            <input id="" type="checkbox" name="">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service" data-type="entry-visa">
                    <div class="serviceHeader">
                        <a class="cover" href=""></a>
                        <h2>Cuban entry visa</h2>
                        <div class="right">
                            <div class="price">€35<sup>00</sup></div>
                            <span class="toggle"></span>
                        </div>
                    </div>
                    <div class="details">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porttitor lorem sed augue pulvinar, sit amet ornare odio interdum. </p>
                        <div class="row">
                            <label><span class="inputWrap"><input id="" type="checkbox" name=""><i></i></span> All passengers (x5)</label>
                        </div>
                        <div class="formCols">
                            <div class="col">
                                <div class="serviceToggle">
                                    <div class="wrapper">
                                        <div class="left" data-type="entry-visa">
                                            Enrico Forresti
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="" checked>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="serviceToggle">
                                    <div class="wrapper">
                                        <div class="left" data-type="entry-visa">
                                            Angello Luciano  Casteglioni
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="serviceToggle">
                                    <div class="wrapper">
                                        <div class="left" data-type="entry-visa">
                                            Enrico Forresti
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="serviceToggle">
                                    <div class="wrapper">
                                        <div class="left" data-type="entry-visa">
                                            Enrico Forresti
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="serviceToggle">
                                    <div class="wrapper">
                                        <div class="left" data-type="entry-visa">
                                            Angello Luciano  Casteglioni Lorem ipsum dolor
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service" data-type="pet">
                    <div class="serviceHeader">
                        <a class="cover" href=""></a>
                        <h2>Pet in cabin</h2>
                        <div class="right">
                            <div class="price">€35<sup>00</sup></div>
                            <span class="toggle"></span>
                        </div>
                    </div>
                    <div class="details">
                    </div>
                </div>
                <div class="service" data-type="meals">
                    <div class="serviceHeader">
                        <a class="cover" href=""></a>
                        <h2>Meals</h2>
                        <div class="right">
                            <div class="price">€35<sup>00</sup></div>
                            <span class="toggle"></span>
                        </div>
                    </div>
                    <div class="details">
                        <div class="formCols">
                            <div class="col">
                                <div class="serviceToggle meal">
                                    <div class="wrapper">
                                        <div class="left" data-type="meals">
                                            Enrico Forresti Long name
                                            <div class="type">Standard</div>
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="" checked>
                                            </label>
                                        </div>
                                    </div>
                                    <ul class="mealTypes">
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a1">
                                                <span>Standard</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a1">
                                                <span>Vegeterian</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a1">
                                                <span>Gluten free</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a1">
                                                <span>Diabetic</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a1">
                                                <span>Low Salt</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a1">
                                                <span>Low fat</span>
                                                <i></i>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="serviceToggle meal">
                                    <div class="wrapper">
                                        <div class="left" data-type="meals">
                                            Enrico Forresti
                                            <div class="type">Standard</div>
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="">
                                            </label>
                                        </div>
                                    </div>
                                    <ul class="mealTypes">
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a2">
                                                <span>Standard</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a2">
                                                <span>Vegeterian</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a2">
                                                <span>Gluten free</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a2">
                                                <span>Diabetic</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a2">
                                                <span>Low Salt</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a2">
                                                <span>Low fat</span>
                                                <i></i>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="serviceToggle meal">
                                    <div class="wrapper">
                                        <div class="left" data-type="meals">
                                            Enrico Forresti
                                            <div class="type">Standard</div>
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="">
                                            </label>
                                        </div>
                                    </div>
                                    <ul class="mealTypes">
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a3">
                                                <span>Standard</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a3">
                                                <span>Vegeterian</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a3">
                                                <span>Gluten free</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a3">
                                                <span>Diabetic</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a3">
                                                <span>Low Salt</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a3">
                                                <span>Low fat</span>
                                                <i></i>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="serviceToggle meal">
                                    <div class="wrapper">
                                        <div class="left" data-type="meals">
                                            Enrico Forresti
                                            <div class="type">Standard</div>
                                        </div>
                                        <div class="options">
                                            <a href="">Add</a>
                                            <label class="status">
                                                <input id="" type="checkbox" name="">
                                            </label>
                                        </div>
                                    </div>
                                    <ul class="mealTypes">
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a">
                                                <span>Standard</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a">
                                                <span>Vegeterian</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a">
                                                <span>Gluten free</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a">
                                                <span>Diabetic</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a">
                                                <span>Low Salt</span>
                                                <i></i>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input id="" type="radio" name="a">
                                                <span>Low fat</span>
                                                <i></i>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service" data-type="wrapping">
                    <div class="serviceHeader">
                        <a class="cover" href=""></a>
                        <h2>Wrapping</h2>
                        <div class="right">
                            <div class="price">€35<sup>00</sup></div>
                            <span class="toggle"></span>
                        </div>
                    </div>
                    <div class="details">
                    </div>
                </div>
                <div class="service" data-type="priority-boarding">
                    <div class="serviceHeader">
                        <a class="cover" href=""></a>
                        <h2>Priority boarding</h2>
                        <div class="right">
                            <div class="price">€35<sup>00</sup></div>
                            <span class="toggle"></span>
                        </div>
                    </div>
                    <div class="details">
                    </div>
                </div>
                <div class="service" data-type="insurance">
                    <div class="serviceHeader">
                        <a class="cover" href=""></a>
                        <h2>Insurance</h2>
                        <div class="right">
                            <div class="price">from €35<sup>00</sup></div>
                            <span class="toggle"></span>
                        </div>
                    </div>
                    <div class="details">
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


</body>
</html>
