<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="Robots" content="index, follow, all" /> 
	<meta name="revisit-after" content="" />
	<meta name="Author" content="" /> 
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/rwd.css" type="text/css" media="all" />

	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/behave.js" type="text/javascript"></script>
</head>
<body>

<div id="outer">

    <div id="bookingTopWrapper">
        <div id="bookingTop">
            <div class="tab back">
                <a class="back" href=""></a>
            </div>
            <div class="tab logo">
                <img src="img/blue-panorama.png" alt="">            
            </div>
            <div class="tab routesInfo">
                Rome to Santiago de Cuba
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab routesInfo">
                Santiago de Cuba to Rome
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab user">
                <i>Enrico <br/>Forresti</i>
            </div>
            <div class="tab cart">
                <div class="total">€1294<sup>89</sup></div>
                <div class="guests">3 Guests</div>
            </div>
            <div class="tab toggle">
                <a class="toggle" href=""></a>
            </div>
        </div>
    </div>

    <div id="main">
        <div class="booking">
            <h1>Select departing day</h1>
        </div>

        <div class="departCalendar">
            <h2>December</h2>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="day">
                                    <i class="dayNumber">3</i>
                                    <i class="month">DEC</i>
                                    <div class="price">€69<sup>00</sup></div>
                                    <label>
                                        <input id="" type="radio" name="test"> <i></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">4</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">5</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">6</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">7</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">8</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">9</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day">
                                    <i class="dayNumber">10</i>
                                    <i class="month">DEC</i>
                                    <div class="price">€69<sup>00</sup></div>
                                    <label>
                                        <input id="" type="radio" name="test"> <i></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">11</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">12</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">13</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">14</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">15</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">16</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day">
                                    <i class="dayNumber">17</i>
                                    <i class="month">DEC</i>
                                    <div class="price">€69<sup>00</sup></div>
                                    <label>
                                        <input id="" type="radio" name="test"> <i></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">18</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">19</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day">
                                    <i class="dayNumber">20</i>
                                    <i class="month">DEC</i>
                                    <div class="price">SOLD OUT!</sup></div>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">21</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">22</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">23</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">24</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">25</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">26</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">27</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">28</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">29</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">30</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">31</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="departCalendar">
            <h2>January</h2>

            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="day">
                                    <i class="dayNumber">3</i>
                                    <i class="month">DEC</i>
                                    <div class="price">€69<sup>00</sup></div>
                                    <label>
                                        <input id="" type="radio" name="test"> <i></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">4</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">5</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">6</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">7</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">8</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">9</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day">
                                    <i class="dayNumber">10</i>
                                    <i class="month">DEC</i>
                                    <div class="price">€69<sup>00</sup></div>
                                    <label>
                                        <input id="" type="radio" name="test"> <i></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">11</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">12</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">13</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">14</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">15</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">16</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day">
                                    <i class="dayNumber">17</i>
                                    <i class="month">DEC</i>
                                    <div class="price">€69<sup>00</sup></div>
                                    <label>
                                        <input id="" type="radio" name="test"> <i></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">18</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">19</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day">
                                    <i class="dayNumber">20</i>
                                    <i class="month">DEC</i>
                                    <div class="price">SOLD OUT!</sup></div>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">21</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">22</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">23</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">24</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">25</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">26</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">27</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">28</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">29</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">30</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                            <td>
                                <div class="day disabled">
                                    <i class="dayNumber">31</i>
                                    <i class="month">DEC</i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


</body>
</html>
