<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="Robots" content="index, follow, all" /> 
	<meta name="revisit-after" content="" />
	<meta name="Author" content="" /> 
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/rwd.css" type="text/css" media="all" />

	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/behave.js" type="text/javascript"></script>
</head>
<body>

<div id="outer">

    <div id="bookingTopWrapper">
        <div id="bookingTop">
            <div class="tab back">
                <a class="back" href=""></a>
            </div>
            <div class="tab logo">
                <img src="img/blue-panorama.png" alt="">            
            </div>
            <div class="tab routesInfo">
                Rome to Santiago de Cuba
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab routesInfo">
                Santiago de Cuba to Rome
                <div class="when">Departure on <span>Tue, 16 Dec</span></div>
            </div>
            <div class="tab user">
                <i>Enrico <br/>Forresti</i>
            </div>
            <div class="tab cart">
                <div class="total">€1294<sup>89</sup></div>
                <div class="guests">3&nbsp;Guests</div>
            </div>
            <div class="tab toggle">
                <a class="toggle" href=""></a>
            </div>
        </div>
    </div>

    <div id="main">

        <div class="fares">
            <div class="header">
                <h1>Departing flight</h1>
                <ul class="flightType">
                    <li>
                        <label><span class="inputWrap"><input id="" type="radio" name="test2" value="economy" checked> <i></i></span>Economy</label>
                    </li>
                    <li>
                        <label><span class="inputWrap"><input id="" type="radio" name="test2" value="business"> <i></i></span>Business</label>
                    </li>
                </ul>
            </div>

            <div class="choosedDay">
                <a href="">Thu, 16 December</a>
            </div>
            <div class="week">
                <a class="prev" href="" title="Prev"></a>
                <ul class="days">
                    <li>Mon, Dec 13</li>
                    <li>
                        <a href="">
                            Tue, Dec 14
                            <div class="price">€129<sup>49</sup></div>
                        </a>
                    </li>
                    <li>Wed, Dec 15</li>
                    <li class="active">
                        Thu, Dec 17 <i class="icon checked"></i>
                        <div class="price">€129<sup>49</sup></div>
                    </li>
                    <li>Fri, Dec 18</li>
                    <li>Sat, Dec 19</li>
                    <li>Sun, Dec 20</li>
                </ul>
                <a class="next" href="" title="Next"></a>

            </div>

            <div class="faresDetails">
                <div class="faresCols">
                    <div class="col">
                        <h2>FLIGHT BV1570 <br/>Boeing 737</h2>
                        <div class="fromTo">
                            <div class="col">
                                <div class="time">11:15</div>
                                <h3>Rome (Fumicino), FCO</h3>
                                <div class="flightTime">5:50h</div>
                            </div>
                            <div class="hr"></div>
                            <div class="col">
                                <div class="time">16:35</div>
                                <h3>Santiago de Cuba, JTR</h3>
                            </div>
                        </div>                

                        <ul class="faresMenu">
                            <li><a href="">More about fares »</a></li>
                            <li><a href="">Baggage info » </a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="comfortOptions">
                            <li>
                                <div class="checkableBox">
                                    <label class="cover"><input id="" type="radio" name="test"><i></i></label>
                                    <div class="wrap">
                                        <div class="option">Save</div>
                                        <div class="price">€129<sup>49</sup></div>
                                        <div class="left">2 seats left!</div>
                                    </div>
                                </div>

                                <ul class="conviniences">
                                    <li class="handBaggage">Hand baggage</li>
                                </ul>

                                <p>Rebooking &amp; Refund not possible</p>
                            </li>
                            <li>
                                <div class="checkableBox">
                                    <label class="cover"><input id="" type="radio" name="test"><i></i></label>
                                    <div class="wrap">
                                        <div class="option">Base</div>
                                        <div class="price">€229<sup>49</sup></div>
                                    </div>
                                </div>

                                <ul class="conviniences">
                                    <li class="handBaggage">Hand baggage</li>
                                    <li class="checkedBaggage">Checked baggage</li>
                                    <li class="seat">Comfort seat</li>
                                </ul>

                                <p>Rebooking fee <b>€29,99</b> <br/>Refund not possible</p>
                            </li>
                            <li>
                                <div class="checkableBox">
                                    <label class="cover"><input id="" type="radio" name="test"><i></i></label>
                                    <div class="wrap">
                                        <div class="option">Flex</div>
                                        <div class="price">€229<sup>49</sup></div>
                                    </div>
                                </div>

                                <ul class="conviniences">
                                    <li class="handBaggage">Hand baggage</li>
                                    <li class="checkedBaggage">Checked baggage</li>
                                    <li class="seat">Comfort seat</li>
                                    <li class="snacks">Snack &amp; beverages</li>
                                </ul>

                                <p>Rebooking <b>€29,99</b> <br/>Rebooking fee <b>€99</b></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="fares">
            <div class="header">
                <h1>Returning flight</h1>
                <ul class="flightType">
                    <li>
                        <label><span class="inputWrap"><input id="" type="radio" value="economy" name="test3" checked> <i></i></span>Economy</label>
                    </li>
                    <li>
                        <label><span class="inputWrap"><input id="" type="radio" value="business" name="test3"> <i></i></span>Business</label>
                    </li>
                </ul>
            </div>

            <div class="choosedDay">
                <a href="">Thu, 16 December</a>
            </div>
            <div class="week">
                <a class="prev" href="" title="Prev"></a>
                <a class="next" href="" title="Next"></a>

                <ul class="days">
                    <li>Mon, Dec 13</li>
                    <li>
                        Tue, Dec 14
                        <div class="price">€129<sup>49</sup></div>
                    </li>
                    <li>Wed, Dec 15</li>
                    <li class="active">
                        Thu, Dec 17 <i class="icon checked"></i>
                        <div class="price">€129<sup>49</sup></div>
                    </li>
                    <li>Fri, Dec 18</li>
                    <li>Sat, Dec 19</li>
                    <li>Sun, Dec 20</li>
                </ul>

            </div>

            <div class="faresDetails">
                <div class="faresCols">
                    <div class="col">
                        <h2>FLIGHT BV1570 <br/>Boeing 737</h2>
                        <div class="fromTo">
                            <div class="col">
                                <div class="time">11:15</div>
                                <h3>Rome (Fumicino), FCO</h3>
                                <div class="flightTime">5:50h</div>
                            </div>
                            <div class="hr"></div>
                            <div class="col">
                                <div class="time">16:35</div>
                                <h3>Santiago de Cuba, JTR</h3>
                            </div>
                        </div>                

                        <ul class="faresMenu">
                            <li><a href="">More about fares »</a></li>
                            <li><a href="">Baggage info » </a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="comfortOptions">
                            <li>
                                <div class="checkableBox">
                                    <label class="cover"><input id="" type="radio" name="test"><i></i></label>
                                    <div class="wrap">
                                        <div class="option">Save</div>
                                        <div class="price">€129<sup>49</sup></div>
                                        <div class="left">2 seats left!</div>
                                    </div>
                                </div>

                                <ul class="conviniences">
                                    <li class="handBaggage">Hand baggage</li>
                                </ul>

                                <p>Rebooking &amp; Refund not possible</p>
                            </li>
                            <li>
                                <div class="checkableBox">
                                    <label class="cover"><input id="" type="radio" name="test"><i></i></label>
                                    <div class="wrap">
                                        <div class="option">Base</div>
                                        <div class="price">€229<sup>49</sup></div>
                                    </div>
                                </div>

                                <ul class="conviniences">
                                    <li class="handBaggage">Hand baggage</li>
                                    <li class="checkedBaggage">Checked baggage</li>
                                    <li class="seat">Comfort seat</li>
                                </ul>

                                <p>Rebooking fee <b>€29,99</b> <br/>Refund not possible</p>
                            </li>
                            <li>
                                <div class="checkableBox">
                                    <label class="cover"><input id="" type="radio" name="test"><i></i></label>
                                    <div class="wrap">
                                        <div class="option">Flex</div>
                                        <div class="sold">SOLD OUT!</div>
                                    </div>
                                </div>

                                <ul class="conviniences">
                                    <li class="handBaggage">Hand baggage</li>
                                    <li class="checkedBaggage">Checked baggage</li>
                                    <li class="seat">Comfort seat</li>
                                    <li class="snacks">Snack &amp; beverages</li>
                                </ul>

                                <p>Rebooking <b>€29,99</b> <br/>Rebooking fee <b>€99</b></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>
